/*banner*/

#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size:cover;
  padding: 0 0 98px;
  .row{
    max-width: 1833px;
  }
  .container{
    position: relative;
    margin-left: 130px;
    padding: 40px 0 74px 8px;
    transform: skewX(30deg);
    background: rgba(0,0,0,0.71);
    max-width: 660px;
    .wrapper{
      text-align: left;
      transform: skewX(-30deg);
      h3{
        margin: 45px 0 0 90px;
        font-family: "Abril FatFace";
        font-weight: 400;
        font-size: 60px;
        line-height: 73px;
        color: #FFFFFF;
      }
      h2{
        margin: 0 0 0 100px;
        font-family: "Rajdhani";
        font-weight: 600;
        font-size: 78px;
        line-height: 95px;
        color: #FFFFFF;
        span{
          color: #FFFFFF;
          display: block;
          margin: 0 0 0 36px;
        }
      }
      h4{
        font-family: "Rajdhani";
        font-weight: 400;
        font-size: 44px;
        color: #FFFFFF;
        line-height: 55px;
        letter-spacing: 7px;
        margin: 0 0 0 172px;
      }
      .btn{
        margin: 15px 0 0 107px;
      }
    }
  }
}
