/*footer*/

#footer {
  background: #E2621B;
  padding: 30px 0;
  .navi{
    margin-bottom: 10px;
    ul{
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        vertical-align: middle;
        padding: 0 5px;
        font-family: "Century Gothic";
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
      }
    }
  }
  .copy, .silver{
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 2px;
    color: #FFF;
    margin: 0 auto;
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
}
