/*header*/

#header {
  background: #E2621B;
  padding: 0 0 8px;
  .row{
    max-width: 1430px;
  }
  nav {
    a#pull {
      display: none;
    }
    ul {
      max-width: 715px;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      li {
        position: relative;
        font-family: "Century Gothic";
        font-weight: 400;
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
        padding: 39.5px 1px;
        &:first-child{
          &::after{
            display: none;
          }
        }
        &::after{
          content: '\005C';
          color: #FFFFFF;
          position: absolute;
          top: 50%;
          left:-3px;
          transform: translateY(-50%);
        }
        a {
          position: relative;
          color: #FFF;
          padding: 39.5px 21px;
          z-index: 99;
          span{
            position: relative;
            z-index: 99;
          }
          &::before{
            content: '';
            width: 100%;
            height: 95px;
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            transform: skewX(30deg) translate(-1%,-100%);
            transition: all 0.5s ease;
            z-index: 0;
          }
        }
        &.active-menu a, a:hover {
         &::before{
           content: '';
           width: 100%;
           height: 95px;
           background: #000;
           position: absolute;
           top: 0;
           left: 0;
           transform: skewX(30deg);
           z-index: 0;
         }
        }
      }
    }
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .hdRight{
      p{
        margin: 0;
        font-family: "Century Gothic";
        font-weight: bold;
        font-size: 15px;
        color: #FFFFFF;
        span{
          display: inline-block;
          vertical-align: sub;
          font-size: 32px;
        }
      }
    }
  }
}
