/*--------------------------------------------------------------section3--------------------------------------------------------------*/
#why-choose-us{
  background: url(../images/common/bgSection3.jpg)no-repeat center top;
  background-size: 100% 100%;
  padding: 247px 0 185px;
  margin-top: -80px;
  .row{
    max-width: 1200px;
  }
  .container{
    max-width: 710px;
    width: 100%;
    margin: 0 0 0 auto;
    text-align: left;
    h2{
      span{
        color: #FFF;
      }
    }
    p{
      margin: 30px 0;
      font-family: "Century Gothic";
      font-weight: 400;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 32px;
    }
    .btn{
      margin-left: -80px;
    }
  }
}
