/*--------------------------------------------------------------section1--------------------------------------------------------------*/
#welcome{
  background: url(../images/common/bgSection1.jpg)no-repeat center top;
  background-size: 100% 100%;
  padding: 84px 0 68px;
  position: relative;
  img.bg1{
    position: absolute;
    top: 0;
    right: 0px;
    z-index: -1;
  }
  .row{
    max-width: 1200px;
  }
  .container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    .wlcLeft{
      text-align: left;
      max-width: 556px;
      width: 100%;
      h1{
        margin-top: -8px;
      }
      p{
        margin: 7px 0 38px;
        font-family: "Century Gothic";
        font-weight: 400;
        font-size: 16px;
        color: #333333;
        line-height: 32px;
      }
      .flexbox{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p{
          margin: 0;
          text-align: left;
          font-family: "Century Gothic";
          font-weight: 700;
          font-size: 15px;
          color: #000000;
          span{
            display: block;
            font-size: 32px;
          }
        }
      }
    }
  }
  .container2{
    margin-top: 45px;
    display: flex;
    align-items: center;
    img{
      max-width: 360;
      width: 80%;
      margin: 0 23px 0 0;
    }
  }
}
