/*--------------------------------------------------------------section6--------------------------------------------------------------*/
#information{
  position: relative;
  .row{max-width: 100%;}
  padding: 37px 0 88px;
  img.map{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
  .container{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    .infoLeft{
      max-width: 600px;
      width: 100%;
      text-align: right;
      h4{
        font-family: "Oswald";
        font-size: 35px;
        font-weight: 700;
        color: #000000;
        margin:0 200px 30px 0;
      }
      p.sm{
        margin: 0;
        font-size: 51px;
        line-height: 49px;
      }
    }
    .infoRight{
      max-width: 295px;
      width: 100%;
      text-align: left;
      margin-left:60px;
      p{
        font-family: "Century Gothic";
        font-weight: 400;
        font-size: 18px;
        color: #535353;
        margin: 0 0 50px;
        span{
          display: block;
          font-family: "Century Gothic";
          font-weight: 700;
          font-size: 19px;
          color: #333333;
          .footPhone{
            font-size: 32px;
          }
        }
        &:first-of-type{
          margin: 60px 0 50px;
        }
        &:last-of-type{
          margin: 0;
          span{
            font-size: 15px;
          }
        }
      }
    }
  }
}
