/*--------------------------------------------------------------section4--------------------------------------------------------------*/
#recent-works{
  background: url(../images/common/bgSection4.jpg)no-repeat center bottom;
  background-size: 100% 86.3%;
  padding: 48px 0 126px;
  margin-top: -120px;
  .row{
    max-width: 1200px;
  }
  h2{
    font-size: 79px;
    line-height: 105px;
    text-align: left;
    color: #FFFFFF;
    position: relative;
    margin-left: 57px;
    z-index: 999;
    &::before{
      content:url(../images/content/bgHeader.png);
      position: absolute;
      top: -47px;
      left: -450px;
      z-index: -1;
    }
  }
  .container1{
    margin-top: 77px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .container2{
    margin: 42px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: flex-start;
    .btn{
      margin: 0 auto;
    }
    p{
      margin: 0;
      font-family: "Oswald";
      font-weight: 400;
      font-size: 33px;
      color: #E2621B;
      max-width: 790px;
      width: 100%;
    }
  }
}
