/*--------------------------------------------------------------section2--------------------------------------------------------------*/
#services{
  .container{
    background: url(../images/common/bgSection2.jpg)no-repeat center top;
    background-size: 100% 92%;
    padding: 93px 0 0;
    .row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      .svcLeft{
        max-width: 605px;
        width: 43%;
        img{
          max-width: 605px;
          width: 100%;
        }
      }
      .svcRight{
        max-width: 689px;
        width: 48%;
        margin-right: 58px;
        h2{
          text-align: left;
        }
        .service-container{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-content: space-between;
          align-items: flex-end;
          min-height: 806px;
          dl{
            max-width: 220px;
            width: 33%;
            dt{
              margin-bottom: 20px;
            }
            dd{
              padding: 0;
              margin: 0;
              font-family: "Montserrat";
              font-weight: 700;
              font-size: 22px;
              color: #000000;
            }
            &:hover dt{
              .sprite1, .sprite2, .sprite3, .sprite4, .sprite5, .sprite6, .sprite7, .sprite8, .sprite9, .sprite10, .sprite11, .sprite12{
                background-image: url('../images/common/services-orange.png');
              }
            }
            &:hover dd{
              color: #E1611A;
            }
          }
        }
      }
    }
  }
}
