/*--------------------------------------------------------------section5--------------------------------------------------------------*/
#book{
  position: relative;
  background: url(../images/common/bgSection5.jpg)no-repeat center top;
  background-size: cover;
  padding: 24px 0 1px;
  .row{max-width: 1200px}
  z-index: 99;
  h2{
    font-size: 79px;
    line-height: 105px;
    color: #FFFFFF;
  }
  form{
    .cntTop{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      input[type="text"]{
        width: 389px;
        height: 53px;
        border-radius:0;
        background: rgba(243,243,233,0.81);
        color: #FFFFFF;
        &::placeholder{
          font-family: "Rajdhani";
          font-weight: 500;
          font-size: 20px;
          color: #FFFFFF;
        }
      }
    }
    .cntMid{
      textarea{
        margin: 5px 0 15px;
        resize: none;
        width: 1200px;
        height: 106px;
        border-radius:0;
        background: rgba(243,243,233,0.81);
        color: #FFFFFF;
        &::placeholder{
          font-family: "Rajdhani";
          font-weight: 500;
          font-size: 20px;
          color: #FFFFFF;
        }
      }
    }
    .cntBot{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      .cntBotLeft{
        text-align: left;
        font-family: "Rajdhani";
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        label{
          line-height: 25px;
        }
      }
    }
    .btn{
      margin: 0 auto -23px;
      max-width: 220px;
      padding: 14px 0;
    }
  }
}
