/*-----------------------------sprites-----------------------------*/
.sprite1 {
	background: url('../images/common/services-black.png') no-repeat -32px -17px;
	width: 75px;
	height: 90px;
}
.sprite2 {
	background: url('../images/common/services-black.png') no-repeat -258px -9px;
	width: 100px;
	height: 96px;
}
.sprite3 {
	background: url('../images/common/services-black.png') no-repeat no-repeat -501px 0;
	width: 109px;
	height: 105px;
}
.sprite4 {
	background: url('../images/common/services-black.png') no-repeat no-repeat -3px -239px;
	width: 137px;
	height: 75px;
}
.sprite5 {
	background: url('../images/common/services-black.png') no-repeat no-repeat -247px -232px;
	width: 136px;
	height: 92px;
}
.sprite6 {
	background: url('../images/common/services-black.png') no-repeat no-repeat -481px -261px;
	width: 141px;
	height: 60px;
}
.sprite7 {
	background: url('../images/common/services-black.png') no-repeat -15px -440px;
	width: 109px;
	height: 103px;
}
.sprite8 {
	background: url('../images/common/services-black.png') no-repeat -244px -447px;
	width: 127px;
	height: 94px;
}
.sprite9 {
	background: url('../images/common/services-black.png') no-repeat -504px -433px;
	width: 115px;
	height: 111px;
}
.sprite10 {
	background: url('../images/common/services-black.png') no-repeat 0 -653px;
	width: 150px;
	height: 105px;
}
.sprite11 {
	background: url('../images/common/services-black.png') no-repeat -266px -665px;
	width: 90px;
	height: 90px;
}
.sprite12 {
	background: url('../images/common/services-black.png') no-repeat -485px -667px;
	width: 146px;
	height: 88px;
}
