h1 {
  font-family: "Babylon5";
  font-weight: 400;
  font-size: 72px;
  color: #E1611A;
  line-height: 81px;
  span{
    display: block;
    font-family: "Abril Fatface";
    font-weight: 400;
    font-size: 46px;
    line-height: 58px;
    margin-top: -25px;
    color: #000000;
  }
}
h2{
  font-family: "Oswald";
  font-weight: 700;
  font-size: 62px;
  color:#E1611A;
  line-height: 84px;
  span{color: #000000}
}
h3{
  font-family: "Abril Fatface";
  font-weight: 400;
  font-size: 37px;
  color: #444444;
  line-height: 47px;
}
.socialico{
  font-family: "socialico";
}
