@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Medium.woff2") format("woff2"), url("fonts/Rajdhani-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Babylon5'; src: url("fonts/Babylon5.woff2") format("woff2"), url("fonts/Babylon5.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Semibold.woff2") format("woff2"), url("fonts/Rajdhani-Semibold.woff") format("woff"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'Oswald'; src: url("fonts/Oswald-Regular.woff2") format("woff2"), url("fonts/Oswald-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Raleway'; src: url("fonts/Raleway-Medium.woff2") format("woff2"), url("fonts/Raleway-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Century Gothic'; src: url("fonts/CenturyGothic-Bold.woff2") format("woff2"), url("fonts/CenturyGothic-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Century Gothic'; src: url("fonts/CenturyGothic.woff2") format("woff2"), url("fonts/CenturyGothic.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Regular.woff2") format("woff2"), url("fonts/Rajdhani-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Abril Fatface'; src: url("fonts/AbrilFatface-Regular.woff2") format("woff2"), url("fonts/AbrilFatface-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Light.woff2") format("woff2"), url("fonts/Montserrat-Light.woff") format("woff"); font-weight: 300; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1400px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1430px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%); clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%); font-family: "Raleway"; font-size: 16px; font-weight: 500; color: #fff; max-width: 207px; width: 100%; display: inline-block; padding: 17px 0; background: #E2621B; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-family: "Babylon5"; font-weight: 400; font-size: 72px; color: #E1611A; line-height: 81px; }

h1 span { display: block; font-family: "Abril Fatface"; font-weight: 400; font-size: 46px; line-height: 58px; margin-top: -25px; color: #000000; }

h2 { font-family: "Oswald"; font-weight: 700; font-size: 62px; color: #E1611A; line-height: 84px; }

h2 span { color: #000000; }

h3 { font-family: "Abril Fatface"; font-weight: 400; font-size: 37px; color: #444444; line-height: 47px; }

.socialico { font-family: "socialico"; }

/*header*/
#header { background: #E2621B; padding: 0 0 8px; }

#header .row { max-width: 1430px; }

#header nav a#pull { display: none; }

#header nav ul { max-width: 715px; margin: 0; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

#header nav ul li { position: relative; font-family: "Century Gothic"; font-weight: 400; font-size: 15px; display: inline-block; vertical-align: middle; padding: 39.5px 1px; }

#header nav ul li:first-child::after { display: none; }

#header nav ul li::after { content: '\005C'; color: #FFFFFF; position: absolute; top: 50%; left: -3px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

#header nav ul li a { position: relative; color: #FFF; padding: 39.5px 21px; z-index: 99; }

#header nav ul li a span { position: relative; z-index: 99; }

#header nav ul li a::before { content: ''; width: 100%; height: 95px; background: #000; position: absolute; top: 0; left: 0; -webkit-transform: skewX(30deg) translate(-1%, -100%); -ms-transform: skewX(30deg) translate(-1%, -100%); transform: skewX(30deg) translate(-1%, -100%); -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; z-index: 0; }

#header nav ul li.active-menu a::before, #header nav ul li a:hover::before { content: ''; width: 100%; height: 95px; background: #000; position: absolute; top: 0; left: 0; -webkit-transform: skewX(30deg); -ms-transform: skewX(30deg); transform: skewX(30deg); z-index: 0; }

#header .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#header .container .hdRight p { margin: 0; font-family: "Century Gothic"; font-weight: bold; font-size: 15px; color: #FFFFFF; }

#header .container .hdRight p span { display: inline-block; vertical-align: sub; font-size: 32px; }

/*banner*/
#banner { background: url(../images/common/bgBanner.jpg) no-repeat center top; background-size: cover; padding: 0 0 98px; }

#banner .row { max-width: 1833px; }

#banner .container { position: relative; margin-left: 130px; padding: 40px 0 74px 8px; -webkit-transform: skewX(30deg); -ms-transform: skewX(30deg); transform: skewX(30deg); background: rgba(0, 0, 0, 0.71); max-width: 660px; }

#banner .container .wrapper { text-align: left; -webkit-transform: skewX(-30deg); -ms-transform: skewX(-30deg); transform: skewX(-30deg); }

#banner .container .wrapper h3 { margin: 45px 0 0 90px; font-family: "Abril FatFace"; font-weight: 400; font-size: 60px; line-height: 73px; color: #FFFFFF; }

#banner .container .wrapper h2 { margin: 0 0 0 100px; font-family: "Rajdhani"; font-weight: 600; font-size: 78px; line-height: 95px; color: #FFFFFF; }

#banner .container .wrapper h2 span { color: #FFFFFF; display: block; margin: 0 0 0 36px; }

#banner .container .wrapper h4 { font-family: "Rajdhani"; font-weight: 400; font-size: 44px; color: #FFFFFF; line-height: 55px; letter-spacing: 7px; margin: 0 0 0 172px; }

#banner .container .wrapper .btn { margin: 15px 0 0 107px; }

/*--------------------------------------------------------------section1--------------------------------------------------------------*/
#welcome { background: url(../images/common/bgSection1.jpg) no-repeat center top; background-size: 100% 100%; padding: 84px 0 68px; position: relative; }

#welcome img.bg1 { position: absolute; top: 0; right: 0px; z-index: -1; }

#welcome .row { max-width: 1200px; }

#welcome .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#welcome .container .wlcLeft { text-align: left; max-width: 556px; width: 100%; }

#welcome .container .wlcLeft h1 { margin-top: -8px; }

#welcome .container .wlcLeft p { margin: 7px 0 38px; font-family: "Century Gothic"; font-weight: 400; font-size: 16px; color: #333333; line-height: 32px; }

#welcome .container .wlcLeft .flexbox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#welcome .container .wlcLeft .flexbox p { margin: 0; text-align: left; font-family: "Century Gothic"; font-weight: 700; font-size: 15px; color: #000000; }

#welcome .container .wlcLeft .flexbox p span { display: block; font-size: 32px; }

#welcome .container2 { margin-top: 45px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#welcome .container2 img { max-width: 360; width: 80%; margin: 0 23px 0 0; }

/*--------------------------------------------------------------section2--------------------------------------------------------------*/
#services .container { background: url(../images/common/bgSection2.jpg) no-repeat center top; background-size: 100% 92%; padding: 93px 0 0; }

#services .container .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#services .container .row .svcLeft { max-width: 605px; width: 43%; }

#services .container .row .svcLeft img { max-width: 605px; width: 100%; }

#services .container .row .svcRight { max-width: 689px; width: 48%; margin-right: 58px; }

#services .container .row .svcRight h2 { text-align: left; }

#services .container .row .svcRight .service-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; min-height: 806px; }

#services .container .row .svcRight .service-container dl { max-width: 220px; width: 33%; }

#services .container .row .svcRight .service-container dl dt { margin-bottom: 20px; }

#services .container .row .svcRight .service-container dl dd { padding: 0; margin: 0; font-family: "Montserrat"; font-weight: 700; font-size: 22px; color: #000000; }

#services .container .row .svcRight .service-container dl:hover dt .sprite1, #services .container .row .svcRight .service-container dl:hover dt .sprite2, #services .container .row .svcRight .service-container dl:hover dt .sprite3, #services .container .row .svcRight .service-container dl:hover dt .sprite4, #services .container .row .svcRight .service-container dl:hover dt .sprite5, #services .container .row .svcRight .service-container dl:hover dt .sprite6, #services .container .row .svcRight .service-container dl:hover dt .sprite7, #services .container .row .svcRight .service-container dl:hover dt .sprite8, #services .container .row .svcRight .service-container dl:hover dt .sprite9, #services .container .row .svcRight .service-container dl:hover dt .sprite10, #services .container .row .svcRight .service-container dl:hover dt .sprite11, #services .container .row .svcRight .service-container dl:hover dt .sprite12 { background-image: url("../images/common/services-orange.png"); }

#services .container .row .svcRight .service-container dl:hover dd { color: #E1611A; }

/*--------------------------------------------------------------section3--------------------------------------------------------------*/
#why-choose-us { background: url(../images/common/bgSection3.jpg) no-repeat center top; background-size: 100% 100%; padding: 247px 0 185px; margin-top: -80px; }

#why-choose-us .row { max-width: 1200px; }

#why-choose-us .container { max-width: 710px; width: 100%; margin: 0 0 0 auto; text-align: left; }

#why-choose-us .container h2 span { color: #FFF; }

#why-choose-us .container p { margin: 30px 0; font-family: "Century Gothic"; font-weight: 400; font-size: 16px; color: #FFFFFF; line-height: 32px; }

#why-choose-us .container .btn { margin-left: -80px; }

/*--------------------------------------------------------------section4--------------------------------------------------------------*/
#recent-works { background: url(../images/common/bgSection4.jpg) no-repeat center bottom; background-size: 100% 86.3%; padding: 48px 0 126px; margin-top: -120px; }

#recent-works .row { max-width: 1200px; }

#recent-works h2 { font-size: 79px; line-height: 105px; text-align: left; color: #FFFFFF; position: relative; margin-left: 57px; z-index: 999; }

#recent-works h2::before { content: url(../images/content/bgHeader.png); position: absolute; top: -47px; left: -450px; z-index: -1; }

#recent-works .container1 { margin-top: 77px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#recent-works .container2 { margin: 42px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#recent-works .container2 .btn { margin: 0 auto; }

#recent-works .container2 p { margin: 0; font-family: "Oswald"; font-weight: 400; font-size: 33px; color: #E2621B; max-width: 790px; width: 100%; }

/*--------------------------------------------------------------section5--------------------------------------------------------------*/
#book { position: relative; background: url(../images/common/bgSection5.jpg) no-repeat center top; background-size: cover; padding: 24px 0 1px; z-index: 99; }

#book .row { max-width: 1200px; }

#book h2 { font-size: 79px; line-height: 105px; color: #FFFFFF; }

#book form .cntTop { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#book form .cntTop input[type="text"] { width: 389px; height: 53px; border-radius: 0; background: rgba(243, 243, 233, 0.81); color: #FFFFFF; }

#book form .cntTop input[type="text"]::-webkit-input-placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #FFFFFF; }

#book form .cntTop input[type="text"]:-ms-input-placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #FFFFFF; }

#book form .cntTop input[type="text"]::-ms-input-placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #FFFFFF; }

#book form .cntTop input[type="text"]::placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #FFFFFF; }

#book form .cntMid textarea { margin: 5px 0 15px; resize: none; width: 1200px; height: 106px; border-radius: 0; background: rgba(243, 243, 233, 0.81); color: #FFFFFF; }

#book form .cntMid textarea::-webkit-input-placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #FFFFFF; }

#book form .cntMid textarea:-ms-input-placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #FFFFFF; }

#book form .cntMid textarea::-ms-input-placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #FFFFFF; }

#book form .cntMid textarea::placeholder { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; color: #FFFFFF; }

#book form .cntBot { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

#book form .cntBot .cntBotLeft { text-align: left; font-family: "Rajdhani"; font-weight: 400; font-size: 18px; color: #FFFFFF; }

#book form .cntBot .cntBotLeft label { line-height: 25px; }

#book form .btn { margin: 0 auto -23px; max-width: 220px; padding: 14px 0; }

/*--------------------------------------------------------------section6--------------------------------------------------------------*/
#information { position: relative; padding: 37px 0 88px; }

#information .row { max-width: 100%; }

#information img.map { position: absolute; top: 0; bottom: 0; right: 0; width: 50%; height: 100%; }

#information .container { position: relative; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; width: 50%; }

#information .container .infoLeft { max-width: 600px; width: 100%; text-align: right; }

#information .container .infoLeft h4 { font-family: "Oswald"; font-size: 35px; font-weight: 700; color: #000000; margin: 0 200px 30px 0; }

#information .container .infoLeft p.sm { margin: 0; font-size: 51px; line-height: 49px; }

#information .container .infoRight { max-width: 295px; width: 100%; text-align: left; margin-left: 60px; }

#information .container .infoRight p { font-family: "Century Gothic"; font-weight: 400; font-size: 18px; color: #535353; margin: 0 0 50px; }

#information .container .infoRight p span { display: block; font-family: "Century Gothic"; font-weight: 700; font-size: 19px; color: #333333; }

#information .container .infoRight p span .footPhone { font-size: 32px; }

#information .container .infoRight p:first-of-type { margin: 60px 0 50px; }

#information .container .infoRight p:last-of-type { margin: 0; }

#information .container .infoRight p:last-of-type span { font-size: 15px; }

/*footer*/
#footer { background: #E2621B; padding: 30px 0; }

#footer .navi { margin-bottom: 10px; }

#footer .navi ul { padding: 0; margin: 0; }

#footer .navi ul li { display: inline-block; vertical-align: middle; padding: 0 5px; font-family: "Century Gothic"; font-weight: 400; font-size: 15px; color: #FFFFFF; }

#footer .copy, #footer .silver { font-family: "Montserrat"; font-weight: 300; font-size: 13px; letter-spacing: 2px; color: #FFF; margin: 0 auto; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/*-----------------------------sprites-----------------------------*/
.sprite1 { background: url("../images/common/services-black.png") no-repeat -32px -17px; width: 75px; height: 90px; }

.sprite2 { background: url("../images/common/services-black.png") no-repeat -258px -9px; width: 100px; height: 96px; }

.sprite3 { background: url("../images/common/services-black.png") no-repeat no-repeat -501px 0; width: 109px; height: 105px; }

.sprite4 { background: url("../images/common/services-black.png") no-repeat no-repeat -3px -239px; width: 137px; height: 75px; }

.sprite5 { background: url("../images/common/services-black.png") no-repeat no-repeat -247px -232px; width: 136px; height: 92px; }

.sprite6 { background: url("../images/common/services-black.png") no-repeat no-repeat -481px -261px; width: 141px; height: 60px; }

.sprite7 { background: url("../images/common/services-black.png") no-repeat -15px -440px; width: 109px; height: 103px; }

.sprite8 { background: url("../images/common/services-black.png") no-repeat -244px -447px; width: 127px; height: 94px; }

.sprite9 { background: url("../images/common/services-black.png") no-repeat -504px -433px; width: 115px; height: 111px; }

.sprite10 { background: url("../images/common/services-black.png") no-repeat 0 -653px; width: 150px; height: 105px; }

.sprite11 { background: url("../images/common/services-black.png") no-repeat -266px -665px; width: 90px; height: 90px; }

.sprite12 { background: url("../images/common/services-black.png") no-repeat -485px -667px; width: 146px; height: 88px; }

/** Responsive
-------------------------------------------------------*/
/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
